# Closed beta only. Do not use local checkpoint syncers after public launch.
HYP_LOG_FORMAT=json
HYP_LOG_LEVEL=info
HYP_METRICSPORT=9090
HYP_DB=/data/relayer
HYP_RELAYCHAINS=xgrchain,base
HYP_GASPAYMENTENFORCEMENT=[{"type":"none"}]
HYP_IGPINDEXINGENABLED=false
HYP_ALLOWLOCALCHECKPOINTSYNCERS=true

HYP_CHAINS_XGRCHAIN_NAME=xgrchain
HYP_CHAINS_XGRCHAIN_DOMAINID=1643
HYP_CHAINS_XGRCHAIN_CHAINID=1643
HYP_CHAINS_XGRCHAIN_PROTOCOL=ethereum
HYP_CHAINS_XGRCHAIN_BLOCKS_CONFIRMATIONS=1
HYP_CHAINS_XGRCHAIN_BLOCKS_REORGPERIOD=0
HYP_CHAINS_XGRCHAIN_BLOCKS_ESTIMATEBLOCKTIME=2
HYP_CHAINS_XGRCHAIN_MAILBOX=0x5632409bc2f0e8bAc4AaF43654D4FFc7822C9c79
HYP_CHAINS_XGRCHAIN_VALIDATORANNOUNCE=0x1814Be3E608883cA510707d3dc6f31792FD5CAaF
HYP_CHAINS_XGRCHAIN_MERKLETREEHOOK=0xeD98Af715b5a72dCD412567eb086d48225CDDACF
HYP_CHAINS_XGRCHAIN_INTERCHAINGASPAYMASTER=0x0000000000000000000000000000000000000000
HYP_CHAINS_XGRCHAIN_CUSTOMRPCURLS=https://rpc.xgr.network
HYP_CHAINS_XGRCHAIN_SIGNER_KEY=REPLACE_WITH_SECRET_RELAYER_KEY

HYP_CHAINS_BASE_NAME=base
HYP_CHAINS_BASE_DOMAINID=8453
HYP_CHAINS_BASE_CHAINID=8453
HYP_CHAINS_BASE_PROTOCOL=ethereum
HYP_CHAINS_BASE_BLOCKS_CONFIRMATIONS=3
HYP_CHAINS_BASE_BLOCKS_REORGPERIOD=10
HYP_CHAINS_BASE_BLOCKS_ESTIMATEBLOCKTIME=2
HYP_CHAINS_BASE_MAILBOX=0xeA87ae93Fa0019a82A727bfd3eBd1cFCa8f64f1D
HYP_CHAINS_BASE_VALIDATORANNOUNCE=0x182E8d7c5F1B06201b102123FC7dF0EaeB445a7B
HYP_CHAINS_BASE_MERKLETREEHOOK=0x19dc38aeae620380430C200a6E990D5Af5480117
HYP_CHAINS_BASE_INTERCHAINGASPAYMASTER=0xc3F23848Ed2e04C0c6d41bd7804fa8f89F940B94
HYP_CHAINS_BASE_CUSTOMRPCURLS=https://base.publicnode.com
HYP_CHAINS_BASE_SIGNER_KEY=REPLACE_WITH_SECRET_RELAYER_KEY
